name: CD - Build and Push
on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      
      - name: Build and push backend images
        run: |
          SHA_TAG=${GITHUB_SHA::7}
          BACKEND_SERVICES=$(find backend -mindepth 1 -maxdepth 1 -type d -exec test -f '{}/Dockerfile' \; -print)

          for SERVICE in $BACKEND_SERVICES; do
            SERVICE_NAME=$(basename "$SERVICE")
            IMAGE_SHA=${{ secrets.DOCKER_USERNAME }}/$SERVICE_NAME:$SHA_TAG
            IMAGE_LATEST=${{ secrets.DOCKER_USERNAME }}/$SERVICE_NAME:latest

            echo "Building backend service image: $SERVICE_NAME"
            docker build \
              --build-arg SERVICE_NAME=$SERVICE_NAME \
              -f backend/$SERVICE_NAME/Dockerfile -t $IMAGE_SHA -t $IMAGE_LATEST .

            echo "Pushing backend service image: $IMAGE_SHA and $IMAGE_LATEST"
            docker push $IMAGE_SHA
            docker push $IMAGE_LATEST
          done

      - name: Build and push frontend image
        run: |
          SHA_TAG=${GITHUB_SHA::7}
          IMAGE_SHA=${{ secrets.DOCKER_USERNAME }}/frontend:$SHA_TAG
          IMAGE_LATEST=${{ secrets.DOCKER_USERNAME }}/frontend:latest

          echo "Building frontend image"
          docker build -f ./frontend/Dockerfile -t $IMAGE_SHA -t $IMAGE_LATEST frontend

          echo "Pushing frontend image: $IMAGE_SHA and $IMAGE_LATEST"
          docker push $IMAGE_SHA
          docker push $IMAGE_LATEST